@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jacquard+12&display=swap');
body {
    background-image: url("img/background.jpg");
    background-size: cover;
    font-family: "Cinzel", serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;  
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.26);
}
.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 32px;
}
button { 
    height: 200px;
    width: 200px;
}
.fire {
    background-image: url("img/fire.jpg");
    background-size: cover;
}
.water {
    background-image: url("img/water.jpg");
    background-size: cover;
}
.earth {
    background-image: url("img/earth.jpg");
    background-size: cover;
}
.air {
    background-image: url("img/air.jpg");
    background-size: cover;
}
.result {
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
}
.scores {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;

}

.counters {
    display: flex;
    justify-content: space-evenly;
    font-size: 64px;
}
.human-counter {
    color: white;
    font-weight: bold;
}
.computer-counter {
    color: black;
    font-weight: bold;
}
.human-score {
    margin-left: 80px;
    color: white;

}
.computer-score {
    color: black;
    margin-right: 32px;
    font-weight: bold;

}
